[user]
	email = victorandr98@gmail.com
	name = Victor André Gris Costa
[core]
	editor = nvim
[diff]
	tool = nvimdiff
	algorithm = histogram
[difftool]
	prompt = false
[merge]
	tool = nvimdiff
[mergetool]
	prompt = true
